<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gladys.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GladysAction.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GladysFiles.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GladysIndex.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GladysIntents.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>GladysKeys.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>GladysMessage.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>GladysMirror.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>GladysToday.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>GladysWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>GladysWidgetsExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>MacGladys.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>MacGladysHelper.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>MacGladysShare.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Playground-iOS (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Playground-iOS (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Playground-iOS (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Playground-macOS (Playground) 1.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>Playground-macOS (Playground) 2.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Playground-macOS (Playground).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1602573F27B86E2200C5C185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1611484F209FA1B6008BB332</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16118D1B2364775A00454326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>161718C32094D333005ABD6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1619E8111EFF3745000087DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16287AE61EFB03FD007188AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1641368C1F09195000B34574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>164947CB20BEAA6200BD1BEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1657B8AA1FD41C1B00EC480D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16692DA12618882100DCABC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167573FE1F12C22500385079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1678F9CC1EF475FE005697CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168DFAFD20B85F3D002C603D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16969B9A1FB0E41E007B2F77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16A4E7DF1FBB844A00D60596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16B2AA3724DF42B5004F3FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CA740C2AB4C063000D6A99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D984732160C25200D9D51C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16D984832160C57C00D9D51C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
