<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Gladys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GladysAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GladysFiles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GladysIndex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GladysMessage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>GladysToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GladysWatch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>GladysWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MacGladys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MacGladysHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1611484F209FA1B6008BB332</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>161718C32094D333005ABD6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1619E8111EFF3745000087DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16287AE61EFB03FD007188AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1641368C1F09195000B34574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1657B8AA1FD41C1B00EC480D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167573FE1F12C22500385079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1678F9CC1EF475FE005697CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16969B9A1FB0E41E007B2F77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16A4E7DF1FBB844A00D60596</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
